





h1{

        text-align: center;	
	    color: red;
	}

.contato{

          position: relative;
	      width: 1000px;
	      margin: 0 auto;
}

nav{
	position: absolute;
	top: 50px;
	right: 0;
}

nav li {

         display: inline;
         margin: 0 0 0 15px;
}


nav a{
	   font-weight: bold;
	   font-size: 22px;
	   text-decoration: none;
       color: #000000;
	   text-transform: uppercase;
	  
	  
}

nav a:hover{
            color: red;
            text-decoration: underline;

}	

.atendimento{

             background: #CCCCCC;
             padding: 20px;

}


h3 {
	   text-align: center;

}

#missao{
        color: red;

}

p {
	    font-style: italic;

}

 

#logo {
        width: 100%;
        padding: 20px 0;
                  
    
    
}

footer {
        text-align: center;
        font-size: 13px;
        margin: 20px 0 0;
}




	
